WORDPRESS_PORT=8088
WORDPRESS_DB_NAME=kpopblog_test
WORDPRESS_DB_USER=kpopblog
WORDPRESS_DB_PASSWORD=kpopblog_local_only
WORDPRESS_DB_ROOT_PASSWORD=kpopblog_root_local_only
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=kpopblog_admin_local_only
WORDPRESS_ADMIN_EMAIL=admin@kpopblog.test
WORDPRESS_MEMBER_USER=member
WORDPRESS_MEMBER_PASSWORD=kpopblog_member_local_only
WORDPRESS_MEMBER_EMAIL=member@kpopblog.test
